@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Michał Pudełko<br />
    email: <a href="mailto:pudelko@op.pl">pudelko@op.pl</a><br />
    tel:   600792924
    
</address>
